.iChooseMe {
  padding: 2%;
  text-align: center;
  background-color: black;
  color: white;
};

.primary {
  text-align: center;
  background-color: black;
  color: white;
}

body {
  background-color: black
};

html {
  background-color: black
};

.firstPageCards {
  text-align: center
}

.secondPageCards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.thirdPageCards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.fourthPageCards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}