.iChooseMe {
  padding: 2%;
  text-align: center;
  background-color: black;
  color: white;
};

body {
  background-color: black
};

html {
  background-color: black
};

.firstPageCards {
  text-align: center
}

.secondPageCards {
  text-align: center
}
